.contact-hero {
  width: 100%;
  background-image: url("../../assets/contactus1bg.png");
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
}

.contact-hero-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

/* LEFT CONTENT */
.contact-hero-text {
  flex: 1;
}

.contact-hero-text h1 {
  font-size: 44px;
  font-weight: 700;
  color: #9b1c1c;
  margin-bottom: 20px;
}

.contact-hero-text p {
  font-size: 18px;
  line-height: 1.7;
  color: #555;
  max-width: 520px;
}

/* RIGHT IMAGE */
.contact-hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.contact-hero-image img {
  max-width: 100%;
  height: auto;
}

/* RESPONSIVE */
/* TABLET (728px) */
@media (max-width: 728px) {
  .contact-hero {
    padding: 70px 20px;
  }

  .contact-hero-container {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .contact-hero-text h1 {
    font-size: 34px;
  }

  .contact-hero-text p {
    font-size: 16px;
    max-width: 100%;
  }

  .contact-hero-image img {
    max-width: 80%;
  }
}

/* MOBILE (425px) */
@media (max-width: 430px) {
  .contact-hero {
    padding: 50px 15px;
  }

  .contact-hero-text h1 {
    font-size: 26px;
    line-height: 1.3;
  }

  .contact-hero-text p {
    font-size: 14px;
    line-height: 1.6;
  }

  .contact-hero-image img {
    flex-direction: column;
    max-width: 100%;
  }
   .contact-hero-image {
    order: 1;
  }

  .contact-hero-text {
    order: 2;
    font-weight: 550;
    font-size: 16px;
  }
}
